.point, .label {
	transition: opacity 1s linear;
}

.point:not(.visible), .label:not(.visible) {
	opacity: 0;
	pointer-events: none;
}

.point:hover{
	fill:#f00;
}

.point.selected, .lgndt.selected {
	fill:#f00;
	background: #f00;
}

.pt {
	fill:#1f3a93;
	background: #1f3a93;
}

.ca {
	fill:#20603c;
	background: #20603c;
}

.cma {
	fill:#e26436;
	background: #e26436;
}

.sgc_name {
  font-weight: bold;
}

#groups, #sgc_select {
	width: 100%;
}

.lgndt {
	border-radius: .5em;
	display: inline-block;
	width: 1em;
	height: 1em;
}

.mouseover rect {
	fill: #fff;
	opacity: .7;
}

.chart-data-table td {
	text-align: right;
}

@media screen and (min-width:0\0) and (min-resolution: +72dpi) {
  /* IE9+ CSS */
  svg{
		width: 100%;
		height: 600px;
	}

	.label {
		transition: none;
	}
}
